* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.boardGridContainer {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    padding: 20px;
    justify-content: center;
}
.gridItem {
    background-color: rgb(192, 192, 192);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.clickable:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}